{% extends "base.html" %}

{% block title %}PDF Tagging App{% endblock %}

{% block page_content %}
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Select LER Start Pages</h1>
      <p class="lead text-muted">Select the pages that are Form 366—where an LER starts. Note that some documents contain more than one LER, so you can make multiple selections</p>
    </div>
    {% if progress is not none %}
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
    </div>
    {% endif %}
  </section>
  <div class="album py-5 bg-light">
    <div class="container" style="padding-bottom: 60px;">
      <div class="row">
        {% for page in pages %}
        <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img id="{{ page.page_number }}" class="{{ 'card-img-top selected' if page.is_start_page else 'card-img-top' }}" src="{{ '/image/' + filename + '/' + page.page_number|string if page_count > 1 else '/image/' + filename }}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text text-center">Page {{page.page_number}}</p>
          </div>
        </div>
      </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
<div class="base-footer">
  <div class="footer-grid-wrapper footer-wrapper-narrow">
      <div class="footer-grid footer-grid-narrow">
          <div class="btn-1"><button id="submit-btn" type="button" class="button button-success" aria-label="Submit (enter)" title="Submit (enter)"><i class="fas fa-check fa-3x"></i></button></div>
          <div class="btn-2"><button type="button" class="button button-secondary" aria-label="Skip (esc)" title="Skip (esc)"><i class="fas fa-redo fa-3x"></i></button></div>
          <div class="btn-3"><button type="button" class="button button-danger" aria-label="Delete (del/bs)" title="Delete (del/bs)"><i class="fas fa-ban fa-3x"></i></button></div>
      </div>
  </div>
</div>
<!-- <footer class="text-muted">
  <div class="container text-center">
    <button id="submit-btn" type="button" class="btn btn-success" disabled>Submit</button>
    <button type="button" class="btn btn-primary">Skip</button>
    <button type="button" class="btn btn-danger">Not an LER</button>
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </div>
</footer> -->

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
// Allow easier looping through hot keys
document.onkeydown = function(evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
      case 13:
      let elem = document.getElementById("submit-btn")
      if (!elem.disabled){
        submitLER();
      }
        break;
      case 27: // Esc key -> Skip LER
        randomPage();
        break;
      case 46: // Delete key -> Not an LER
        deleteLER();
        break;
      case 8: // Backspace key -> Not an LER
        deleteLER();
        break
    }
};
const submitLER = function(){
  let idArray = $('.selected').map((_, elem) => elem.id).get()
  $.ajax({
    url: "{{ url_for('api.add_start_pages') }}",
    type: 'PUT',
    contentType: 'application/json',
    data: JSON.stringify({
      filename: '{{ filename }}',
      start_pages: idArray
    })
  }).done(function(data) {
    // Redirect to next page
    randomPage();
  });
}

const deleteLER = function() {
  $.ajax({
    url: "{{ url_for('api.not_target_doc') }}",
    type: 'PUT',
    contentType: 'application/json',
    data: JSON.stringify({
      filename: '{{ filename }}'
    })
  }).done(function(data) {
    // Redirect to next page
    randomPage();
  });
}

const randomPage = function() {
  window.location.href = "{{ url_for('main.random_ler_tag_start') }}";
}

$('.button-success').prop('disabled', (_, v) => ($('.selected').length < 1));
$('img').click(function(){
    $(this).toggleClass('selected');
    $('.button-success').prop('disabled', (_, v) => ($('.selected').length < 1));
});

$('.button-success').click(submitLER);

$('.button-danger').click(deleteLER);

$('.button-primary').click(randomPage);

</script>
{% endblock %}